<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Guia Mocorongo</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estilo.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> -->
	<!-- <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script> -->
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<img src="../static/img/logo.png" class="img-fluid">
				</div>
				<div class="col-8">
					<h1 id="title-site" class="display-1">Guia Mocorongo</h1>
				</div>
			</div>
		</div>
	</header>

	<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<!-- <a class="navbar-brand" href="#">Início</a> -->
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>

	  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    		<ul class="navbar-nav mr-auto">
	      			<li class="nav-item ">
	        			<a class="nav-link" href="#">Home</a>
	      			</li>
	     			<li class="nav-item active">
	        			<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
	      			</li>
                    <li class="nav-item">
	        			<a class="nav-link" href="/boleto"></a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link disabled" href="#">Sobre</a>
	      			</li>
	      			<li class="nav-item">
						
	      			</li>
	    		</ul>
	    	<!-- <form class="form-inline my-2 my-lg-0" action = "/login" method = "POST">
	    		
	      		<input class="form-control mr-sm-1" type="email" name="email" placeholder="E-mail" aria-label="Search">
	      		<input class="form-control mr-sm-1" type="password" name="senha" placeholder="Senha" aria-label="Search">
	      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
	    	</form> -->
    	</div>
  	</div>
	  
	</nav>

	<div class="container" id="container">
		
		<div class="row">

			<div class="col"><h1 class="title"></h1></div>
		</div>
		<div class="row">
			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}
		</div>
		<form id="form" method="post" action = "/register">
		  	<div class="row">
		   	 	<div class="col-sm-6">
		   	 		<label class="form-control-label" for="inputNome">Username</label>
		      		<input type="text" class="form-control" id="inputNome" name="name" placeholder="Nome de usuário">
		    	</div>
		    	<div class="col-sm-6">
		      		<label class="form-control-label" for="inputEmail">E-mail</label>
		      		<input type="email" class="form-control" id="inputEmail" name="email" placeholder="fulano@ciclano.com">
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-12">
		      		<label class="form-control-label" for="inputEndereco">Password</label>
		      		<input type="password" class="form-control" id="inputEndereco" name="password" placeholder="********">
		    	</div>
			<div class="col-sm-12" >
				<input type="submit" class="btn btn-outline-primary  offset-md-4 col-sm-3" value="Cadastrar"></input>
			</div>
            </div>
		</form>
	</div>

	<footer id="footer">
		<p>
			Desenvolvido por Judison Godinho e Pedro Paulo
		</p>
		<p>
			Todos os direitos reservados
		</p>
	</footer>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".alert").alert();
		})
	</script>
</body>
</html>